:root {
  --bg-color: #f8f3d9;
  --btn-bg: #ebe5c2;
  --btn-hover-bg: #b3aa7a;
  --text-color: #504b38;
  --border-color: rgba(223, 0, 0, 0);
  --border-radius: 20px;
  --video-height-desktop: 500px;
  --video-height-mobile: 250px;
  --gap: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    circle,
    #b9b28a,
    #9e9774,
    #837c5f,
    #69634b,
    #504b38
  );
  transition: all 0.5s ease;
  margin: 0;
  padding: 1rem;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: medium;
  font-weight: 900;
}

button {
  outline: none;
  border: var(--border-color) 3px solid;
  border-radius: var(--border-radius);
  background-color: var(--btn-bg);
  color: var(--text-color);
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  outline: none;
  border: var(--border-color) 3px solid;
  border-radius: var(--border-radius);
  background-color: var(--btn-bg);
  color: var(--text-color);
  padding: 20px;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--btn-hover-bg);
}

.videos {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
  width: 100%;
  max-width: 1200px;
}

video {
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 500px;
  height: var(--video-height-desktop);
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  button {
    padding: 15px 30px;
  }

  video {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 5px;
  }

  button {
    padding: 10px;
    margin: 3px;
  }

  .videos {
    margin-bottom: 10px;
  }

  video {
    height: var(--video-height-mobile);
    max-width: 100%;
    gap: 5px;
  }
}
