* {
  box-sizing: border-box;
}

body {
  transition: all 0.5s ease;
  margin: 0;
  padding: 1rem;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-size: medium;
  font-weight: 900;
}

button {
  outline: none;
  border: rgb(94, 94, 94) 3px solid;
  border-radius: 20px;
  background-color: #2b2b2b;
  color: gray;
  padding: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input {
  outline: none;
  border: rgb(94, 94, 94) 3px solid;
  border-radius: 20px;
  background-color: #2b2b2b;
  color: gray;
  padding: 20px;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #242424;
}

.videos {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  /* border: 1px solid white; */
}

video {
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  height: 500px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  /* border: 1px solid #ccc; */
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  button {
    padding: 15px 30px;
  }

  video {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 5px;
  }

  button {
    padding: 10px px;
    margin: 3px;
  }

  .videos{
      margin-bottom: 10px;
  }

  video {
    height: 250px;
    max-width: 100%;
    gap: 5px;
  }
}
